@model MeDirectMicroservice.Models.ExchangeTrade

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ExchangeTrade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountToTrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountToTrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrencyFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrencyFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrencyTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrencyTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TradedAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TradedAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExchangeTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExchangeTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
